#pp-nav {
    top: 60%;
    ul {
        li {
            margin: 4vw 0 4vw 5vw;
            span {
                background: #303030;
            }
            .active {
                span {
                    background: $red_color;
                }
            }
        }
    }
}
.about {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    section {
        background: url(../img/code.jpeg) center center/cover no-repeat;
        width: 100%;
        height: 100%;
        position: relative;
    }
    &_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: 100%;
        background: url(../img/code.jpeg) center center/cover no-repeat;
        opacity: 0.5;
        animation: animate 40s ease infinite alternate;
    }
    &_cover {
        background: linear-gradient(to top, rgba(#000, 1) 0%, rgba(#000, .97) 10%, rgba(#000, .7) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-position: center;
        background-size: cover;
        opacity: 1;
        z-index: 2;
    }
    &_number {
        font-family: serif;
        font-size: 350px;
        position: absolute;
        width: 130px;
        top: 20%;
        left: -50px;
        z-index: 1;
        line-height: 57px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: rgba($red_color, .5);
    }
    &_text {
        position: absolute;
        font-weight: 200;
        top: 26%;
        left: 50%;
        transform: translateX(-50%);
        width: 800px;
        max-height: 100%;
        color: #929292;
        font-size: 1.05em;
        z-index: 3;
        // animation: text 10s ease-in infinite alternate;
    }
    &_down {
        position: absolute;
        z-index: 3;
        top: 80vh;
        left: 5.1vw;
        color: $red_color;
        width: 1px;
        height: 75px;
        background: #212121;
    }
    &_next {
        display: none;
        transform: rotate(90deg);
    }
    &_arrow {
        width: 5px;
        height: 25px;
        background: #555555;
        border-radius: 25px;
        position: absolute;
        left: -2px;
        top: 25px;
        animation: arrow1 5s normal 2s infinite;
    }
}
@keyframes animate {
    0% {
        background-position: 0 0;
        filter: hue-rotate(0deg);
    }
    10% {
        background-position: 4px 0;
    }
    11% {
        background-position: 0 0;
    }
    18% {
        background-position: -4px 0;
    }
    19% {
        background-position: 0 0;
    }
    30% {
        background-position: 22px 0;
    }
    35% {
        background-position: 0 0;
    }
    40% {
        background-position: -16px 0;
    }
    50% {
        background-position: 12px 2px;
    }
    60% {
        background-position: -32px 0;
    }
    70% {
        background-position: 0 0;
    }
    80% {
        background-position: -40px -2px;
    }
    100% {
        background-position: 0 0;
        filter: hue-rotate(360deg);
    }
}
@keyframes text {
    0% {
        color: #232323;
    }
    20% {
        color: #232323;
    }
    30% {
        color: $grey_color;
    }
    100% {
        color: $grey_color;
    }
}
@keyframes arrow1 {
    0% {
        top: 0;
    }
    50% {
        top: 50px;
    }
    100% {
        top: 0;
    }
}

@media (max-width: 1199px) {
    .about {
        &_text {
            width: 630px;
            font-size: 18px;
        }
        &_number {
            font-size: 300px;
        }
    }
}
@media (max-width: 991px) {
    .about {
        &_text {
            width: 500px;
            font-size: 17px;
        }
        &_number {
            font-size: 245px;
            top: 25%;
            left: -40px;
        }
    }
}
@media (max-width: 767px) {
    .about {
        &_text {
            width: 420px;
            font-size: 16px;
        }
        &_number {
            font-size: 215px;
        }
        &_down {
            transform: rotate(180deg);
            left: 11.5vw;
        }
        &_next {
            display: block;
            position: absolute;
            left: 4vw;
            font-size: 14px;
            translate: rotate(180deg);
        }
    }
}
@media (max-width: 599px) {
    .about {
        &_text {
            width: 315px;
            font-size: 15px;
            line-height: 1.2;
            top: 15%;
        }
        &_number {
            top: 20%;
            font-size: 140px;
            left: -20px;
        }
        &_down {
            left: 6.5vw;
            top: 80vh;
        }
    }
}
@media (max-width: 424px) {
    .about {
        &_text {
            width: 250px;
            font-size: 13px;
            line-height: 1.25;
            top: 20%;
        }
        &_number {
            left: -25px;
            top: 15%;
        }
    }
}
@media (max-width: 374px) {
    .about {
        &_text {
            width: 210px;
            font-size: 12.3px;
            line-height: 1.2;
            top: 13%;
        }
    }
}