.header {
    width: 100%; 
    position: fixed;
    padding-top: 60px;
    height: 60px;
    z-index: 10;
    #navigation {
        display: flex;
        align-items: center;
    }
    &_inner {
        width: 65%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    &_logoHigh {
        color: #fff;
        font-size: 30px;
        font-weight: 400;
        span {
            color: $red_color;
        }
    }
    &_logoBottom {
        color: $red_color;
        font-size: 19px;
        display: flex;
        justify-content: flex-end;
    }
    &_nav {
        left: 640px;
        width: 25vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_links {
        font-size: 15px;
        color: $grey_color;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.4s ease;
        &:hover {
            color: $red_color;
        }
    }
    .active {
        color: $red_color;
    }
}
.socials {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    right: 0;
    top: 40%;
    z-index: 10;
    padding-right: 3vw;
    &_link {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30%;
        margin: 35% 0;
        span {
            font-size: 3.5vw;
        }
    }
    &_link:nth-child(1):hover {
        span:before {
            color: #6fda44;
        }
    }
    &_link:nth-child(2):hover {
        span:before {
            color: #f0f0f0;
        }
    }
    &_link:nth-child(3):hover {
        span:before {
            color: #00aff0;
        }
    }
    &_link:nth-child(4):hover {
        span:before {
            color: #d14836;
        }
    }
}

@media (max-width: 1199px) {
    .socials {
        &_link span {
            font-size: 4vw;
        }
    }
}
@media (max-width: 879px) {
    .socials {
        &_link span {
            font-size: 4.5vw;
        }
    }
}
@media (max-width: 767px) {
    .header {
        &_links {
            font-size: 14px;
        }
        &_logoHigh {
            font-size: 25px;
        }
        &_logoBottom {
            font-size: 14px;
        }
    }
    .socials {
        &_link span {
            font-size: 5.5vw;
        }
    }
}
@media (max-width: 599px) {
    .header {
        padding-top: 40px;
        &_links {
            font-size: 14px;
        }
        &_logoHigh {
            font-size: 21px;
        }
        &_nav {
            width: 30vw;
        }
        &_links {
            font-size: 12px;
        }
    }
    .socials {
        &_link span {
            font-size: 6.5vw;
        }
    }
}
@media (max-width: 499px) {
    .socials {
        &_link span {
            font-size: 7.5vw;
        }
    }
}
@media (max-width: 424px) {
    .header {
        padding-top: 30px;
        &_nav {
            width: 32vw;
        }
    }
    .socials {
        &_link span {
            font-size: 8.5vw;
        }
    }
}
@media (max-width: 374px) {
    .header {
        padding-top: 12px;
        &_logoHigh {
            font-size: 18px;
        }
        &_logoBottom {
            font-size: 13px;
        }
        &_links {
            font-size: 11px;
        }
    }
    .socials {
        &_link span {
            font-size: 10.5vw;
        }
    }
}